@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<body>
    @foreach(var item in ViewBag.Carts)
    {
        <p>@item.Books.Title</p>
        <p>@item.Quantity</p>
    }
</body>